/* page.module.css */

.container {
  display: flex;
  flex-direction: column; /* Stacks button and TeamList vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Make container full viewport height */
  margin: auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #005bb5;
}

.button:focus {
  outline: 2px solid #005bb5;
  outline-offset: 2px;
}

.button:active {
  transform: scale(0.98);
}
